/*head*/


/*body*/

#index-page{
  color:black;
	background-image: url("img/convargo.jpg");
	background-size: cover;
	height: auto;
	background-repeat: no-repeat;

	background-color: DimGray;
	text-align: center;
	text-emphasis-color: white;
}

#home-page{
	color:black;
	background-image: url("img/trucks.jpg");
	background-size: cover;
	height: auto;
	background-repeat: no-repeat;

	background-color: DimGray;
	text-align: center;
	text-emphasis-color: white;

}

/*inputs*/
input{
	padding:5px;
	 border:2px solid #ccc;
	 -webkit-border-radius: 5px;
	 border-radius: 5px;
}
input:focus{
	border-color:red;
}

/*checkbox - coming soon*/


/*buttons */



.button {
  display: inline-block;
  border-radius: 2px;
  background-color: #2068ec;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 125px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
